Repository srs-sudeep/Nodejs-Express-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier -w

fix(package.json): fixed commitzen path import
  package.json
Due: prettier -w

fix(package.json): fixed path of the commitzen
  bun.lockb
  package.json
Due: prettier -w

fix(eslint): fixed eslint configuration
  .eslintrc.js
  .eslintrc.json
  bun.lockb
  commitlint.config.js
  eslint.config.js
  eslint.config.mjs
  index.js
  package.json
Due: eslint --fix, prettier --write, prettier -w

chore(.github): added pr template
  .github/PULL_REQUEST_TEMPLATE.md
  eslint.config.mjs
Due: prettier -w

fix(package.json): updated all dependencies
  .env 
  bun.lockb
  package.json
Due: prettier -w

fix(package.json): updatd command for commit
  bun.lockb
  package.json
  src/models/plugins/paginate.plugin.js
Due: eslint --fix, prettier --write, prettier -w

fix: s
  .env  2
  package.json
Due: prettier -w

fix(package.json and pre-commit-message): added a flag so that commitizen runs only once
  .husky/prepare-commit-msg
  package.json
Due: prettier -w

chore(.github/): added issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_request.yml
Due: none

chore(.github/): modeified the pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier -w

fix(.env): remove .env file from the repo
  .env 
  .env  2
Due: none

fix(full repo): updated code so as ot remove breaking changes because of library updates
  .env.example
  jest.config.js
  package-lock.json
  package.json
  src/app.js
  src/config/config.js
  src/controllers/v1/authController/auth.controller.js
  src/controllers/v1/userController/user.controller.js
  src/db/mongoose.js
  src/middlewares/auth.js
  src/middlewares/error.js
  src/middlewares/mongoSanitizeExpress5.js
  src/middlewares/validate.js
  src/services/v1/authServices/auth.service.js
  src/services/v1/authServices/token.service.js
  src/services/v1/userServices/user.service.js
  src/utils/httpStatus.js
Due: eslint --fix, prettier --write, prettier -w

docs(readme): updated readme
  README.md
Due: prettier -w

feat(website): added docusaurus
  .gitignore
  README.md
  eslint.config.mjs
  package.json
  website/.gitignore
  website/README.md
  website/docs/architecture/request-flow.md
  website/docs/architecture/source-tree.md
  website/docs/architecture/system-design.md
  website/docs/guides/api-and-swagger.md
  website/docs/guides/maintaining-documentation.md
  website/docs/intro.md
  website/docs/procedures/command-reference.md
  website/docs/procedures/docker-workflows.md
  website/docs/procedures/environment-setup-e2e.md
  website/docusaurus.config.js
  website/package-lock.json
  website/package.json
  website/sidebars.js
  website/src/components/HomepageFeatures/index.js
  website/src/components/HomepageFeatures/styles.module.css
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/static/.nojekyll
  website/static/img/docusaurus-social-card.jpg
  website/static/img/docusaurus.png
  website/static/img/favicon.ico
  website/static/img/logo.svg
  website/static/img/undraw_docusaurus_mountain.svg
  website/static/img/undraw_docusaurus_react.svg
  website/static/img/undraw_docusaurus_tree.svg
Due: eslint --fix, prettier --write, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,ts,tsx}
  prettier -w: any of: *.{md,json}
